@import "tailwindcss";

/* LIGHTMODE BASE COLORS */
:root {
  --background: #ffffff; 
  --foreground: #0F172A;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* DARK MODE -> IS DEFAULT */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #070c14; 
    --foreground: #f8fafc;        

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --card: #070c14;
    --card-foreground: #f8fafc;

    --primary: #f8fafc;
    --primary-foreground: #1e293b;

    --secondary: #334155;
    --secondary-foreground: #f8fafc;

    --muted: #334155;
    --muted-foreground: #94a3b8;

    --accent: #334155;
    --accent-foreground: #f8fafc;

    --border: #334155;
    --input: #334155;
    --ring: #cbd5e1;

    --blue-text: #60a5fa;
    --blue-hover: #3b82f6;

    --hover-foreground: #14233a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

  font-family: var(--font-geist-sans, sans-serif);

}

.text-muted-foreground {
  color: var(--muted-foreground);
}

.card-color {
  background: var(--background);
  border: 1px solid var(--border);
}

.blue-text {
  color: var(--blue-text);
}

.apply-button {
  background: #1d4ed8;
  color: var(--card);
  height: 40px;
  /* display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; */
}

.apply-button:hover {
  background: #1e40af;
}

.page-button {
  color: var(--accent-foreground);
  border: 1px solid var(--accent);
  /* background: var(--primary-foreground); */
}

.page-button .active {
  color: var(--background);
  background: var(--accent-foreground);
  border-color: var(--accent-foreground);
}

.page-button:hover:not(.active) {
  background: var(--accent);
  /* color: var(--primary-foreground); */
}

.experience-level-stlye {
  color: var(--accent-foreground);
}

/*
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

*/